#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.container {
  padding: 2rem;
  background-color: #e6f7ff;
}

.book-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #91d5ff;
}

.card {
  padding: 2em;
}

.book-card-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.read-the-docs {
  color: #888;
}
